*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}
.outer-div{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
    6px 6px 20px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 20px -1px rgba(255, 255, 255, 0.9);
    
}

.inner-div{

    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                0.5px 0.5px 0px rgba(255, 255, 255, 1),
                -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    
    
    
}
.text{

    font-weight: 500;
    font-size: 20px;
    color: white;
}

circle{

    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 15px;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: anim 2s linear forwards;
}

@keyframes anim{

    100%{

        stroke-dashoffset: 135;
    }
}

svg{

    position: absolute;
    top: 36.5%;
    left: 20;
}